.navtabs{
    margin:10px 10px 10px 10px
}

.fixed-action-btn {
    position: fixed;
    bottom: 45px;
    right: 24px;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode nav {
    background-color: #333333;
}

button.btn {
    margin: 5px;
}

button.active {
    background-color:red;
}
